@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

nav {
  font-family: "Poppins", sans-serif;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  padding-left: 50px;
  padding-right: 50px;

  ul {
    display: flex;
    li {
      font-size: 16px;
      list-style-type: none;
      align-items: center;
      margin-right: 15px;
      a {
        text-decoration: none;
        color: black;
      }
      a:hover {
        color: #00487c;
        cursor: pointer;
      }
    }
  }
  button {
    font-family: "Poppins", sans-serif;
    border: 2px solid white;
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 16px;
    background: #fff;
    color: #00a896;
    z-index: 1;
    img{
      background: #fff;
      color: #00a896;

      }
    a {
      background: #fff;
      color: #00a896;
      text-decoration: none;
      
    }
    
  }
  
}
